{% extends 'layouts/Tablero.html' %} {% load static %} {% block content %}

<div class="pagetitle">
  <h1>Generación de reportes para seguimiento de aulas virtuales</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'InicioTablero' %}">Inicio</a></li>
      <li class="breadcrumb-item active">Generación de reportes para seguimiento de aulas virtuales</li>
    </ol>
  </nav>
</div>


<p>Genera los informes para el seguimiento de las aulas virtuales en función de un formato base.</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formulario.as_p }}
    <button type="submit">Subir archivo</button>
</form>

{% endblock %}